

<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Demand Forecasting Analysis</h2>
  <form action="{{ url_for('predict')}}"method="post" onsubmit="openModal()" id="myForm">
    <div class="form-group">
      <label for="Store_ID">Store_ID:</label>
      <input type="text" class="form-control" id="Store_ID" placeholder="Enter Store_ID" name="Store_ID">
    </div>
    <div class="form-group">
      <label for="Dept_ID">Dept_ID:</label>
      <input type="text" class="form-control" id="Dept_ID" placeholder="Enter Dept_ID" name="Dept_ID">
    </div>
    <div class="form-group">
      <label for="Store_Type">Store_Type:</label>
      <input type="text" class="form-control" id="Store_Type" placeholder="Enter Store_Type as 0, 1 or, 2" name="Store_Type">
    </div>
    <div class="form-group">
      <label for="Store_size">Store_size:</label>
      <input type="text" class="form-control" id="Store_size" placeholder="Enter Store_size for eg. 151315" name="Store_size">
    </div>
    <div class="form-group">
      <label for="Week">Week:</label>
      <input type="text" class="form-control" id="Week" placeholder="Enter Week for eg. 5" name="Week">
    </div>
    <div class="form-group">
      <label for="daysPassed">Days Passed:</label>
      <input type="text" class="form-control" id="daysPassed" placeholder="Enter Days Passed for eg. 5" name="daysPassed">
    </div>
    <div class="form-group">
      <label for="Temperature">Temperature:</label>
      <input type="text" class="form-control" id="temperature" placeholder="Enter Temperature of place eg. 42.31" name="temperature">
    </div>
    <div class="form-group">
      <label for="cpi">Consumer price index:</label>
      <input type="text" class="form-control" id="cpi" placeholder="Enter Consumer price index" name="cpi">
    </div>
    <div class="form-group">
      <label for="Unemployment_rate">Unemployment Rate:</label>
      <input type="text" class="form-control" id="Unemployment_rate" placeholder="Enter Unemployment Rate" name="Unemployment_rate">
    </div>
    <div class="form-group">
      <label for="MarkDown-promotional">MarkDown Promotional:</label>
      <input type="text" class="form-control" id="MarkDown-promotional" placeholder="Enter MarkDown-promotional" name="MarkDown-promotional">
    </div>	  

    <button type="submit" class="btn btn-primary">Predict</button>
  </form>
<!-- 	<div>{{ prediction_text }}</div> -->
 <script>
 	 $('#myForm').on('submit', function(e){
  $('#myModal').modal('show');
  e.preventDefault();
});
	</script>
  <!-- The Modal -->
  <div class="modal fade" id="myModal">
     <div class="modal-dialog" role="document">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Sales Should Be</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          {{ prediction_text }}
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>	 
</div>
</body>
</html>
